<br>
<br>
<br>
<br>
<br>
<br>
<div class="contactpage"><h1><strong>Casino Parties of Tampa Bay</strong></h1>
  <br>
  <br>
  <br>
</div>

<div class="container">
    <div class="row">
        <div class="col m10 offset-m1 s12">
          <h2 class="center-align">Frequently Asked Questions?</h2>
          <br>
          <br>
          <strong>How much do you charge?</strong>
          <h4><strong>$200 per table with dealer, $75 per slot machine</strong></h4>
          <br>
          <strong>How many games do I need?</strong>
          <br>
          <h6>On the average, a group of 100 will order 8 games, usually 4 Black Jack, 2 Texas Hold-em, 1 Roulette and 1 Craps table.</h6>
          <br>
          <strong>Do we tip the dealers?</strong>
          <h6>Tipping is not required, but is appreciated.</h6>
          <br>
          <strong>Do you have a security deposit on your rental equipment?</strong>
          <h6>Yes, a fully refundable security deposit on all undamaged equipment.</h6>
          <br>
          <strong>Can we play longer than 3 hours?</strong>
          <h6>Yes. Rates are negotiable.</h6>
          <br>
          <strong>Do we need to be 21?</strong>
          <h6>No! It's a party!!</h6>
          <br>
          <strong>What areas do you serve?</strong>
          <h6>Tampa Bay, Orlando and Sarasota/Manatee (Orlando and Sarasota is an extra $25 per table surcharge)</h6>
          <br>
          <br>
          <div class="contactpage"><h4><strong>Please feel free to call with any other questions. Thank You! Mark</strong></h4></div>
          <br>
          <br>
          <br>
          <br>
          <h2 class="center-align">Contact Us</h2>
            <div class="row">
                <form action="/email" method="post" class="col s12">
                    <div class="row">
                        <div class="input-field col m6 s12">
                            <input name="firstname" id="first_name" type="text">
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <input name="lastname" id="last_name" type="text">
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m6 s12">
                            <i class="mdi-content-mail prefix"></i>
                            <input name="email" id="email" type="email" >
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <i class="mdi-maps-store-mall-directory prefix"></i>
                            <input name="phone" id="phone" type="text">
                            <label for="phone">Phone</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                          <textarea name="message" id="message" class="materialize-textarea"></textarea>
                          <label for="message">Message</label>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col m12">
                         <p class="right-align"><button class="btn btn-large waves-effect waves-light" name="action">Send Message</button></p>

                        </div>
                    </div>
                </form>
            </div>
            <h2 class="center-align">Phone</h2>
            727-656-9194
            <br>
            <h2 class="center-align">Mailing Address</h2>
            2101 Cunningham Dr.
              <br>
            Clearwater, FL 33763
        </div>
    </div>
</div>
