<br>
<br>
<br>
<!--Main layout-->
<div class="container">

    <!--Page heading-->
    <div class="row wow fadeIn" data-wow-delay="0.2s">
        <div class="col-md-12">
            <h1 class="h1-responsive">Equipment
                <!-- <small class="text-muted">secondary text</small> -->
            </h1>
        </div>
    </div>
    <!--/.Page heading-->
    <hr>

    <!--First row-->
    <div class="row wow fadeIn" data-wow-delay="0.2s">
        <!--Featured image-->
        <div class="col-lg-7">
            <div class="view overlay hm-white-light z-depth-1-half">
                <img src="assets/equipment_poker.jpg" class="img-fluid" alt="">
                <div class="mask"></div>
            </div>
        </div>
        <!--/.Featured image-->

        <!--Post excerpt-->
        <div class="col-lg-5">
            <a href="#!"><h2 class="post-title">Poker / Texas Hold'em </h2></a>
            <p class="lead">Poker, especially Texas Hold'em, has taken the country by storm. Add a poker table to your casino party or have a complete World Series of Poker style Hold'em tournament. Either way your guest will be donning their best poker faces as they face off against each other in America's new favorite pasttime.</p>
        </div>
        <!--/.Post excerpt-->
    </div>
    <!--/.First row-->
    <hr class="extra-margin">

    <!--Second row-->
    <div class="row wow fadeIn" data-wow-delay="0.2s">
        <!--Featured image-->
        <div class="col-lg-7">
            <div class="view overlay hm-white-light z-depth-1-half">
                <img src="assets/equipment_craps.jpg" class="img-fluid" alt="">
                <div class="mask"></div>
            </div>
        </div>
        <!--Featured image-->

        <!--/.Post excerpt-->
        <div class="col-lg-5">
            <a href="#!"><h2 class="post-title">Craps</h2></a>
            <p class="lead">Craps is one of the most exciting casino table games. In casinos, you often hear players cheering for their favorite numbers. You can bet for or against the roller. Craps can be intimidating to new players, so Casino Parties of Tampa Bay's dealers take the time to explain all the rules. </p>
        </div>
        <!--/.Post excerpt-->
    </div>
    <!--/.Second row-->
    <hr class="extra-margin">

    <!--Third row-->
    <div class="row wow fadeIn" data-wow-delay="0.2s">
        <!--Featured image-->
        <div class="col-lg-7">
            <div class="view overlay hm-white-light z-depth-1-half">
                <img src="assets/equipment_blackjack.jpg" class="img-fluid" alt="">
                <div class="mask"></div>
            </div>
        </div>
        <!--Featured image-->

        <!--/.Post excerpt-->
        <div class="col-lg-5">
            <a href="#!"><h2 class="post-title">Blackjack</h2></a>
            <p class="lead">Blackjack is the most popular casino table game in Florida. The game dates back to our frontier days. The object is to get as close to 21 without "busting" or going over, and still the beat the dealer's total. If you want to play like the pros, learn what is called "basic strategy," or ask one of our beautiful Casino Party of Tampa Bay dealers. </p>
        </div>
        <!--/.Post excerpt-->
    </div>
    <!--/.Third row-->
    <hr class="extra-margin">

    <!--Fourth row-->
    <div class="row wow fadeIn" data-wow-delay="0.2s">
        <!--Featured image-->
        <div class="col-lg-7">
            <div class="view overlay hm-white-light z-depth-1-half">
                <img src="assets/equipment_roulette.jpg" class="img-fluid" alt="">
                <div class="mask"></div>
            </div>
        </div>
        <!--Featured image-->

        <!--/.Post excerpt-->
        <div class="col-lg-5">
            <a href="#!"><h2 class="post-title">Roulette</h2></a>
            <p class="lead">In Roulette, you place bets on numbers, combinations of numbers, or colors on a grid-like layout. A small ball is spun on a wheel with 38 numbers. The ball eventually drops into a slot, selecting a number and color. Roulette is very popular in Tampa and has continued to be a staple in all of Casino Parties of Tampa Bay events.</p>
        </div>
        <!--/.Post excerpt-->
    </div>
    <!--/.Fourth row-->
    <hr class="extra-margin">
